# compiled files
__pycache__/
*.py[cod]
*.so
*.egg-info/

# tests
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
docs/_build
build/
dist/

# other
tags
.mypy_cache/
.hypothesis/
.DS_store
